          
          <div class="news">
            <h2>Press Coverage</h2>
            {% if site.projects != blank -%} 
            {%- assign news_size = site.projects | size -%}
            
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign news = site.projects | reverse -%}
              {% if site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% assign i = 1 %}
              {% endif %}
              {% for item in news limit: news_limit %} 
                <tr>
                  <th scope="row">–</th>
                  <td>
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}

                  </td>
                </tr>
                {%  assign i = i | plus:1%} 

              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
          
